<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a routerLink="about">
                <img class="d-block w-100" src="/assets/img/carousel/aboutus.jpg" alt="First slide">
                <div class="carousel-caption">
                    <h5>About us</h5>
                    <p>Learn more about JugendCollege</p>
                </div>
            </a>
        </div>
        <div class="carousel-item">
            <a routerLink="contact">
                <img class="d-block w-100" src="/assets/img/carousel/apply.jpg" alt="Second slide">
                <div class="carousel-caption">
                    <h5>Get in touch</h5>
                    <p>Get started with an individual appointment</p>
                </div>
            </a>
        </div>
        <div class="carousel-item">
            <a routerLink="courses">
                <img class="d-block w-100" src="/assets/img/carousel/courselist.jpg" alt="Third slide">
                <div class="carousel-caption">
                    <h5>Courses</h5>
                    <p>This is what we offer</p>
                </div>
            </a>
        </div>
        <div class="carousel-item">
            <a routerLink="successpage">
                <img class="d-block w-100" src="/assets/img/carousel/successstories.jpg" alt="Fourth slide">
                <div class="carousel-caption">
                    <h5>Success Stories</h5>
                    <p>Jasmin, 16 has redefined her life with JugendCollege</p>
                </div>
            </a>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>