h5, p {
	color: white;

}

h5 {
	font-size: 2em;
}

p {
	font-size: 1.6em;
}

img {
	filter:brightness(0.8);
}

@media screen and (max-width: 778px) {
    #carouselExampleControls {
		margin-top: 74px!important;
		font-size: 12px;
	}
	.carousel-caption {
		bottom: -10px;
	}
}