

<img src="../../../assets/img/about.jpg" class="img-fluid" alt="Responsive image">

<div class="container" id="about-container">

<div class="row">
  <img class="col-lg-4" src="../../../assets/img/startup-photos.jpg" width="30%" height="30%">
  <div class="col-lg-8">
    <p>
      <b>Jugend College </b>
      is an Austria-wide provider of high quality education and consulting services.<br> Our core competence lies in the area of ​​business-related, personality-oriented, labor market policy and socially inclusive programs of all sizes.<br> 
 	  We carry out a large number of projects and educational programs on behalf of the Austrian Public Employment Service (AMS) or other public clients. Relevant information can be found in the menu item "Work & occupation" . <br>

	  In the menu "Courses" you will find our education and training programs that we offer both for public clients and for private individuals.<br>

      Our own area of ​​responsibility is our commitment in the area of "AQUA" . Here we offer services in the area of ​​personnel recruiting and personnel development.
    </p>
  </div>
</div>
<br><br>
<div class="row">
<div class="col-lg-8">
    <p>
      <b>Our team</b>
      is an Austria-wide provider of high quality education and consulting services.<br> Our core competence lies in the area of ​​business-related, personality-oriented, labor market policy and socially inclusive programs of all sizes.<br> 
 	  We carry out a large number of projects and educational programs on behalf of the Austrian Public Employment Service (AMS) or other public clients. Relevant information can be found in the menu item "Work & occupation" . <br>

	  In the menu "Courses" you will find our education and training programs that we offer both for public clients and for private individuals.<br>

      Our own area of ​​responsibility is our commitment in the area of "AQUA" . Here we offer services in the area of ​​personnel recruiting and personnel development.
    </p>
  </div>
  <img class="col-lg-4" src="../../../assets/img/pexels-photo.jpg" width="30%" height="30%">
	
</div>
</div>
