#about-container {
	margin-top: 80px;
	padding-bottom: 300px;
}

.img-fluid {
    margin-top: 74px;
}

@media screen and (max-width: 992px) {
    #about-container {
        padding-bottom: 600px;
    }
}
