<div class="footer">
  <hr>
  

  <div class="row text-center">


  <div class="col-lg-4">
    <img src="../../../assets/img/logo.png" width="200px" alt="logo">
    <br><br>
    <p> &copy; Jugend-college</p>
  </div>

    <div id="liks" class="col-lg-4">
      <h3>MORE INFO</h3>
      <p><a href="#">Why us</a></p>
      <p><a href="#">About us</a></p>
      <p><a href="#">Course offer</a></p>
      <p><a href="#">success stories</a></p>
    </div>

    <div id="contact" class="col-lg-4">
      <h3>CONTACT US</h3>
      <p><i class="fa fa-envelope-open"></i> jugendcollege@gmail.com</p>
      <p><i class="fa fa-phone-square"></i> +43 0013455621 </p>
      <p><i class="fa fa-home"></i> Kettenbrückengasse 23/2/12 </p>
      <p>1050 Vienna, Austria</p>
      
    </div>

  </div>
</div>
