footer {
    margin-top: 100px;
    background-color: #555555;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.mid {
    text-align: center;
}

p {
    color: white;
}

h3 {
    color: white;
}

a {
    direction: none;
    color: white;
}

.row {
    width: 100%;
}