<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a routerLink = "/"><img src="assets/img/logo.png" alt="logo" width="150px" id="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink = "courses">Courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Success Stories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink = "about">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link border font-weight-bold" routerLink = "/contact">How to Apply </a>
            </li>
        </ul>
    </div>
</nav>