<div class="jumbotron">
  <p class="lead">"Don’t think about what you can´t acieve or do, just get it done. Just do it. <br> Faile. Stand up. Try again. Don´t give up. Especially yourself."</p>
</div>


<!-- start carousel -->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div id="successstorieheader">
    <h1>Success Stories</h1>
    <p>Your Success is our Success! - Check out all the great stories.</p>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item">
      <div class="d-block w-100">
        <section id="blog" class="page pattern">
          <div class="section white">
            <div class="container title">
              <h1>Emilia</h1>
              <p>From Zero to Hero.</p>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="quick-post">
                    <div class="date"><span class="day">Step</span><span>1</span></div>
                    <h2>Unemployed. Searching</h2>
                    <div class="category">contact with Young College</div>
                    <a href="#page1" data-toggle="modal" data-target="#myModal">
                      <div class="img">
                        <div class="post-info">
                          <p>She noticed us via Social Media</p>
                        </div>
                        <img class="img-responsive" src="/assets/img/people1/emilia1.jpg" alt="">
                      </div>
                    </a>
                  </div>
                  <!-- end .quick-post -->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="quick-post">
                    <div class="date"><span class="day">Step</span><span>2</span></div>
                    <h2>See an oppurtunity</h2>
                    <div class="category">Appointment took place - Yeah</div>
                    <a href="#page2" data-toggle="modal" data-target="#myModal">
                      <div class="img">
                        <div class="post-info">
                          <p>We care about Emilia. She is cool</p>
                        </div>
                        <img class="img-responsive" src="/assets/img/people1/emilia2.jpg" alt="">
                      </div>
                    </a>
                  </div>
                  <!-- end .quick-post -->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="quick-post">
                    <div class="date"><span class="day">Step</span><span>3</span></div>
                    <h2>Challenged herself</h2>
                    <div class="category">Finished the course. Success.</div>
                    <a href="#page3" data-toggle="modal" data-target="#myModal">
                      <div class="img">
                        <div class="post-info">
                          <p>She became an CEO at a international company.</p>
                        </div>
                        <img class="img-responsive" src="/assets/img/people1/emilia3.png" alt="">
                      </div>
                    </a>
                  </div>
                </div>
                <!-- end .quick-post -->
              </div>
              <!-- end .col-lg-12 -->
            </div>
            <!-- end .row -->
          </div>
          <!-- end .container -->
        </section>
        <!-- end #blog -->
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-block w-100">
        <section id="blog" class="page pattern">
          <div class="section white">
            <div class="container title">
              <h1>Kevin</h1>
              <p>Think positive</p>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="quick-post">
                    <div class="date"><span class="day">Step</span><span>1</span></div>
                    <h2>Unemployed</h2>
                    <div class="category">contact with Young College</div>
                    <a href="#page1" data-toggle="modal" data-target="#myModal">
                      <div class="img">
                        <div class="post-info">
                          <p>He recveived an Newsletter from us</p>
                        </div>
                        <img class="img-responsive" src="/assets/img/people1/boy1.jpg" alt="">
                      </div>
                    </a>
                  </div>
                  <!-- end .quick-post -->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="quick-post">
                    <div class="date"><span class="day">Step</span><span>2</span></div>
                    <h2>He call us</h2>
                    <div class="category">It was clear we need to help</div>
                    <a href="#page2" data-toggle="modal" data-target="#myModal">
                      <div class="img">
                        <div class="post-info">
                          <p>Our IT course was perfect for him</p>
                        </div>
                        <img class="img-responsive" src="/assets/img/people1/boy2.jpg" alt="">
                      </div>
                    </a>
                  </div>
                  <!-- end .quick-post -->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="quick-post">
                    <div class="date"><span class="day">Step</span><span>3</span></div>
                    <h2>Passed it</h2>
                    <div class="category">New Opportunities</div>
                    <a href="#page3" data-toggle="modal" data-target="#myModal">
                      <div class="img">
                        <div class="post-info">
                          <p>Now he works for an IT Company in Vienna and writing HTML Codes instead of CV´s.</p>
                        </div>
                        <img class="img-responsive" src="/assets/img/people1/boy3.jpg" alt="">
                      </div>
                    </a>
                  </div>
                </div>
                <!-- end .quick-post -->
              </div>
              <!-- end .col-lg-12 -->
            </div>
            <!-- end .row -->
          </div>
          <!-- end .container -->
        </section>
        <!-- end #blog -->
      </div>
    </div>
    <div class="carousel-item active">
      <div class="d-block w-100">
        <section id="blog" class="page pattern">
          <div class="section white">
            <div class="container title">
              <h1>Jasmin</h1>
              <p>speaks perfect german now</p>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="quick-post">
                    <div class="date"><span class="day">Step</span><span>1</span></div>
                    <h2>All new</h2>
                    <div class="category">New country, new language</div>
                    <a href="#page1" data-toggle="modal" data-target="#myModal">
                      <div class="img">
                        <div class="post-info">
                          <p>Jasmin got lost in translation and was nowhere to be found.</p>
                        </div>
                        <img class="img-responsive" src="/assets/img/people1/jasmin.jpg" alt="">
                      </div>
                    </a>
                  </div>
                  <!-- end .quick-post -->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="quick-post">
                    <div class="date"><span class="day">Step</span><span>2</span></div>
                    <h2>Progress</h2>
                    <div class="category">New friends,language skills</div>
                    <a href="#page2" data-toggle="modal" data-target="#myModal">
                      <div class="img">
                        <div class="post-info">
                          <p>In our basic German courses she didn't only find the necessary German integration, but also social integration. </p>
                        </div>
                        <img class="img-responsive" src="/assets/img/people1/jasmin2.jpg" alt="">
                      </div>
                    </a>
                  </div>
                  <!-- end .quick-post -->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="quick-post">
                    <div class="date"><span class="day">Step</span><span>3</span></div>
                    <h2>Finished</h2>
                    <div class="category">Vienna, New Job</div>
                    <a href="#page3" data-toggle="modal" data-target="#myModal">
                      <div class="img">
                        <div class="post-info">
                          <p>Because of her new skills she now teaches others, her life is finally back on track.</p>
                        </div>
                        <img class="img-responsive" src="/assets/img/people1/jasmin1.jpg" alt="">
                      </div>
                    </a>
                  </div>
                </div>
                <!-- end .quick-post -->
              </div>
              <!-- end .col-lg-12 -->
            </div>
            <!-- end .row -->
          </div>
          <!-- end .container -->
        </section>
        <!-- end #blog -->
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-block w-100">
        <section id="blog" class="page pattern">
          <div class="section white">
            <div class="container title">
              <h1>Marco</h1>
              <p>Success has a name. Marco.</p>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="quick-post">
                    <div class="date"><span class="day">Step</span><span>1</span></div>
                    <h2>Oportunities.</h2>
                    <div class="category">Learn something new</div>
                    <a href="#page1" data-toggle="modal" data-target="#myModal">
                      <div class="img">
                        <div class="post-info">
                          <p>Marco needed to adapt his skills to the Austrian Market, as his local certificates weren't allowed here. </p>
                        </div>
                        <img class="img-responsive" src="/assets/img/people1/guy1.jpg" alt="">
                      </div>
                    </a>
                  </div>
                  <!-- end .quick-post -->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="quick-post">
                    <div class="date"><span class="day">Step</span><span>2</span></div>
                    <h2>Don´t give up</h2>
                    <div class="category">Move foreward</div>
                    <a href="#page2" data-toggle="modal" data-target="#myModal">
                      <div class="img">
                        <div class="post-info">
                          <p>Our classes helped hiim to get new certificates and the Austrian labor market finally recognized him.</p>
                        </div>
                        <img class="img-responsive" src="/assets/img/people1/guy2.jpg" alt="">
                      </div>
                    </a>
                  </div>
                  <!-- end .quick-post -->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="quick-post">
                    <div class="date"><span class="day">Step</span><span>3</span></div>
                    <h2>Easy transition</h2>
                    <div class="category">Playground</div>
                    <a href="#page3" data-toggle="modal" data-target="#myModal">
                      <div class="img">
                        <div class="post-info">
                          <p>Now getting employment seems like a playground to him. His new contacts and certificates helped him land and ass job. </p>
                        </div>
                        <img class="img-responsive" src="/assets/img/people1/guy3.jpg" alt="">
                      </div>
                    </a>
                  </div>
                </div>
                <!-- end .quick-post -->
              </div>
              <!-- end .col-lg-12 -->
            </div>
            <!-- end .row -->
          </div>
          <!-- end .container -->
        </section>
        <!-- end #blog -->
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-block w-100">
        <section id="blog" class="page pattern">
          <div class="section white">
            <div class="container title">
              <h1>Devina</h1>
              <p>Perfection in persona</p>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="quick-post">
                    <div class="date"><span class="day">Step</span><span>1</span></div>
                    <h2>No hope left </h2>
                    <div class="category">We believe</div>
                    <a href="#page1" data-toggle="modal" data-target="#myModal">
                      <div class="img">
                        <div class="post-info">
                          <p>When Devina found us, she was hopeless and had no orientations and no friends. Luckily, we believed in her. </p>
                        </div>
                        <img class="img-responsive" src="/assets/img/people1/girl1.jpg" alt="">
                      </div>
                    </a>
                  </div>
                  <!-- end .quick-post -->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="quick-post">
                    <div class="date"><span class="day">Step</span><span>2</span></div>
                    <h2>Quick tips</h2>
                    <div class="category">Appointment</div>
                    <a href="#page2" data-toggle="modal" data-target="#myModal">
                      <div class="img">
                        <div class="post-info">
                          <p>Even after her first appointment she regained hope, because someone gave her attention. We figued out that she was really skillful in maths and science, but very shy and lacking confidence.</p>
                        </div>
                        <img class="img-responsive" src="/assets/img/people1/girl2.jpg" alt="">
                      </div>
                    </a>
                  </div>
                  <!-- end .quick-post -->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="quick-post">
                    <div class="date"><span class="day">Step</span><span>3</span></div>
                    <h2>Session</h2>
                    <div class="category">Success is calling</div>
                    <a href="#page3" data-toggle="modal" data-target="#myModal">
                      <div class="img">
                        <div class="post-info">
                          <p>Devina took our modular classes, and she didn't only find friends and a new life, but also confidence. Now she can actually use her skills and present herself successfully in front of others. </p>
                        </div>
                        <img class="img-responsive" src="/assets/img/people1/girl3.jpg" alt="">
                      </div>
                    </a>
                  </div>
                </div>
                <!-- end .quick-post -->
              </div>
              <!-- end .col-lg-12 -->
            </div>
            <!-- end .row -->
          </div>
          <!-- end .container -->
        </section>
        <!-- end #blog -->
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- end carousel -->

<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 text-center text-lg-left">
        <h3 class="cta-title">Interested?</h3>
        <p class="cta-text">Make your own story to a success story. We help you with getting forward. Take your chance and ...</p>
      </div>
      <div class="col-lg-3 cta-btn-container text-center">
        <a class="cta-btn align-middle" routerLink="/contact">Get an appointment</a>
      </div>
    </div>
  </div>
</section>
