<!-- CIRCLE GRID -->

<section id="circle-grid" class="page pattern">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="row">
            
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <div class="jerro-circle small">
                <div class="back-content color"><p>Jerro Clement</p></div>
                <div class="front-content image"><img scr="/assets/img/goodnews.png"></div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <div class="jerro-circle small">
                <div class="back-content color"><p>Julia Dagobert</p></div>
                <div class="front-content image"><img src="http://placehold.it/170x170" alt=""></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <div class="jerro-circle small">
                <div class="back-content color"><p>Fiola Hennings</p></div>
                <div class="front-content image"><img src="http://placehold.it/170x170" alt=""></div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <div class="jerro-circle small">
                <div class="back-content color"><p>Peter Jackson</p></div>
                <div class="front-content image"><img src="http://placehold.it/170x170" alt=""></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="jerro-circle big">
            <div class="back-content color"><p>Robert Salomon</p></div>
            <div class="front-content image"><img src="http://placehold.it/370x370" alt=""></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="jerro-circle small">
                <div class="back-content color"><p>Ruth Devis</p></div>
                <div class="front-content image"><img src="http://placehold.it/170x170" alt=""></div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="jerro-circle small">
                <div class="back-content gray"><p>Harald Jackson</p></div>
                <div class="front-content color"><p>trele morele dudki</p></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <div class="jerro-circle small">
                <div class="back-content color"><p>Daniela Trello</p></div>
                <div class="front-content image"><img src="http://placehold.it/170x170" alt=""></div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <div class="jerro-circle small">
                <div class="back-content color"><p>Rafael Luis</p></div>
                <div class="front-content image"><img src="http://placehold.it/170x170" alt=""></div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- end .col-lg-12 -->
      <div class="col-lg-12">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="jerro-circle big">            
            <div class="back-content color"><p>Simone Lengers</p></div>
            <div class="front-content image"><img src="http://placehold.it/370x370" alt=""></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <div class="jerro-circle small">
                <div class="back-content gray"><p>Tim Luger</p></div>
                <div class="front-content color"><p>trele morele dudki</p></div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <div class="jerro-circle small">
                <div class="back-content color"><p>Emilia Eisenberg</p></div>
                <div class="front-content image"><img src="http://placehold.it/170x170" alt=""></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <div class="jerro-circle small">
                <div class="back-content color"><p>Paul Berger</p></div>
                <div class="front-content image"><img src="http://placehold.it/170x170" alt=""></div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <div class="jerro-circle small">
                <div class="back-content color"><p>Hannelore Veith</p></div>
                <div class="front-content image"><img src="http://placehold.it/170x170" alt=""></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
          <div class="jerro-circle big">                
            <div class="back-content color"><p>Lukas Berger</p></div>
            <div class="front-content image"><img src="http://placehold.it/370x370" alt=""></div>
          </div>
        </div>
      </div><!-- end .col-lg-12 -->
    </div><!-- end .row -->
  </div><!-- end .container -->
</section><!-- end #circle-grid -->


