<!-- Try2 -->
<section id="services">
  <div class="container">
    <div class="section-header">
      <h2>Why us</h2>
      <p>We understand that you have individual needs. JugendCollege offers training and support for young people from 17 to 21. </p>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="box">
          <div class="icon"><i class="fa fa-bar-chart"></i></div>
          <h4 class="title">Success rate</h4>
          <p class="description">Even though JugendCollege was just initialized a short time ago, we can already look back on a successful track record of young people who are now integrated in the Austrian job market.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="box">
          <div class="icon"><i class="fa fa-picture-o"></i></div>
          <h4 class="title">Individuality</h4>
          <p class="description">To us you are more than just a number. In personal conversation we will figure out your specific history and experience.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="box">
          <div class="icon"><i class="fa fa-shopping-bag"></i></div>
          <h4 class="title">Employability</h4>
          <p class="description">Theoretical classes in German and Science are not enough. We will go the extra mile to connect you with other institutions and employers to guarantee your continuing success.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="box">
          <div class="icon"><i class="fa fa-map"></i></div>
          <h4 class="title">Social integration</h4>
          <p class="description">Our classes are a great way out of unemployment, because you go back to a daily schedule and social interaction. We even offer extracurricular activities that help with social integration, and therefore further employability. </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 text-center text-lg-left">
        <h3 class="cta-title">Get moving</h3>
        <p class="cta-text"> You are ready to take your future into your own hands? Don't wait and fill out our contact form. You can soon be embedded in a great social system, brush up your German and learn other useful skills. </p>
      </div>
      <div class="col-lg-3 cta-btn-container text-center">
        <a class="cta-btn align-middle" routerLink = "/contact">Get an appointment</a>
      </div>
    </div>
  </div>
</section>
