<div class="container-fluid">
  <div class="row">
    <div id="imgcontainer" class="col-lg-12 col-md-12 col-sm-12">
      <img src="/assets/img/students.jpg" alt="happy students">
    </div> 
  </div>
</div>


<section id="services">
  <div class="container">
    <div class="section-header">
      <h2>This is how it works:</h2>
      <p>Do you want to work on your future and have better opportunities? There are four steps to get started on our individual classes with JugendCollege: </p>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="box">
          <div class="icon"><i class="fas fa-edit"></i></div>
          <h4 class="title">1. Booking In</h4>
          <p class="description">There are two ways to get into the JugendCollege: Either the AMS or the Fonds Soziales Wien/Ma17 can book you onto your track for the JugendCollege.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="box">
          <div class="icon"><i class="fas fa-comments"></i></div>
          <h4 class="title">2. Introductory phase</h4>
          <p class="description">For your individual consulting, your background will be checked and your experience evaluated. Your advisor will then create a trailored program for you. </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="box">
          <div class="icon"><i class="fas fa-users"></i></div>
          <h4 class="title">3. Attend classes</h4>
            <p class="description">
              <b>Core Modules:</b> German classes <br>
              <b>Special Modules: </b>Critical participation, Alphabetization in native language <br>
             <b> Extracurricular offers:</b> Social Activities, Professional orientation consulting <br>
             <li><a routerLink = "/courses">See all classes</a></li>
            </p>
         
        </div>
      </div>
      <div class="col-lg-6">
        <div class="box">
          <div class="icon"><i class="fas fa-user-graduate"></i></div>
          <h4 class="title">4. Transfer and consulting</h4>
          <p class="description">Placement in continuing education, preparation for new school or traineeship in company, contact with new contact person <br><br><br><br></p>
        </div>
      </div>
    </div>
  </div>
</section>





<section>
  <div>
    <button id="touch" type="button" class="btn btn-primary">Get in touch with us now:</button>
    <p id="formdescript">Once you submit the form, we will call you to make an appointment with you. From there we will figure out your individual needs and create a tailored program for you. </p>
  </div>  
</section>
<div class="container">
<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputSurname">Surname</label>
      <input type="text" class="form-control" id="inputsurname" placeholder="Surname">
    </div>
    <div class="form-group col-md-6">
      <label for="inputName">Name</label>
      <input type="text" class="form-control" id="inputname" placeholder="Name">
    </div>
  </div>
   <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputemail">Email</label>
      <input type="Email" class="form-control" id="email" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      <label for="inputphone">Phone</label>
      <input type="number" class="form-control" id="inputphone" placeholder="Phone Numner">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>Vienna</option>
        <option>Lower Austria</option>
        <option>Upper Austria</option>
        <option>Salzburg</option>
        <option>Tyrol</option>
        <option>Vorarlberg</option>
        <option>Styria</option>
        <option>Carinthia</option>
        <option>Burgenland</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
  </div>
  <div class="form-group">
     <p>Your level of German: </p>
   <div class="custom-control custom-radio custom-control-inline">
  <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
  <label class="custom-control-label" for="customRadioInline1">No German</label>
</div>
<div class="custom-control custom-radio custom-control-inline">
  <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
  <label class="custom-control-label" for="customRadioInline2">A1</label>
</div>
<div class="custom-control custom-radio custom-control-inline">
  <input type="radio" id="customRadioInline3" name="customRadioInline1" class="custom-control-input">
  <label class="custom-control-label" for="customRadioInline3">A2</label>
</div>
<div class="custom-control custom-radio custom-control-inline">
  <input type="radio" id="customRadioInline4" name="customRadioInline1" class="custom-control-input">
  <label class="custom-control-label" for="customRadioInline4">B1</label>
</div>
<div class="custom-control custom-radio custom-control-inline">
  <input type="radio" id="customRadioInline5" name="customRadioInline1" class="custom-control-input">
  <label class="custom-control-label" for="customRadioInline5">B2</label>
</div>
<div class="custom-control custom-radio custom-control-inline">
  <input type="radio" id="customRadioInline6" name="customRadioInline1" class="custom-control-input">
  <label class="custom-control-label" for="customRadioInline6">C1</label>
</div>
  </div>
   <div class="form-group">
     <p>Your interests </p>
  <div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="customCheck1">
  <label class="custom-control-label" for="customCheck1">IT</label>
</div>
<div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="customCheck2">
  <label class="custom-control-label" for="customCheck2">Science</label>
</div>
<div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="customCheck3">
  <label class="custom-control-label" for="customCheck3">Languages</label>
</div>
<div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="customCheck4">
  <label class="custom-control-label" for="customCheck4">Professional Training</label>
</div>
  </div>
  <div class="form-group">
    <label for="inputexperience">Please indicate here your previous experience and knowledge:</label>
    <input type="text" class="form-control" id="inputexperience" placeholder="Level of languages, education, professional training...">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>





