<div class="container-fluid" id="success-wrapper">
  <div class="container">
    <h2 class="text-center" style="padding-bottom: 40px;">Stories</h2>
    <div class="row">
      <div class="story col-lg-4">
        <div class="story-heading row">
          <div class="story-heading-name col-lg-9 col-md-9 col-sm-9 col-9"><p>Jasmin, 19</p></div>
          <div class="story-heading-img col-lg-3 col-md-3 col-sm-3 col-3"><img class="img-circle" src="../../../assets/img/people/girl1.jpeg" alt=""></div>
        </div>
        <div class="story-body row col-lg-12 arrow_box arrow_box3">
          <p>„When I first came to Austria, I didn´t speak the language and could not work in my profession as an optician.“</p>
        </div>
      </div>
      
      <div class="story-body col-lg-4 middle-body arrow_box2">
        <p>After her Consultig-Conversation, Jasmin was provided with an individual training programm to learn German modules and adapt her certificate ot the standards fo the Austrian job market.</p>
      </div>

      <div class="story-body col-lg-3 right-body">
        <p>After 1 year of training. Jasmin speaks good German and can work as a trainee for an Austrian optician.</p>
      </div>
    </div>
  </div> 
</div>