<div class="container-fluid" id="success-wrapper">
  <div class="container">
    <h2 id="headline" class="text-center">Success stories with JugendCollege</h2>
    <div class="row">
<!-- success story 1 -->
<div class="col-lg-4 col-sm-12 col-md-12">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="/assets/img/people/boy1.png" alt="Boy 1"></p>
                                    <h4 class="card-title">Kevin, 17</h4>
                                    <p class="card-text">My advisor was so nice and helpful with my case.</p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Kevin, 17</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      
<!-- success story 2 -->


<div class="col-lg-4 col-sm-12 col-md-12">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="/assets/img/people/girl1.jpg" alt="Boy 1"></p>
                                    <h4 class="card-title">Jasmin, 21</h4>
                                    <p class="card-text">My advisor was so nice and helpful with my case.</p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Jasmin, 21</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<!-- success story 3  -->
<div class="col-lg-4 col-sm-12 col-md-12">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="/assets/img/people/boy2.jpg" alt="Boy 1"></p>
                                    <h4 class="card-title">Marco, 18</h4>
                                    <p class="card-text">My advisor was so nice and helpful with my case.</p>
                                  
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Marco, 18</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    
    
    
      <button routerLink="/successpage" id="moresuccess" type="button" class="btn btn-primary text-center"> See more Success Stories</button>
      
    </div>
  </div>
</div>